*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   
}

body{
    background: #a0d7ff;
}
.historial{
    height:100%;
    width: 36%;
    background: #303136;
    position: absolute;
}

.contenedorHistorial{
    color: #005db2;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
}
.eliminar{
    position: relative;
    width: 1000px;
    bottom: 40%;
}

#eliminarHistorial{
    border: none;
    outline: none;
    width: 1000px;
    height: 600px;
    border-radius: 10px;
    background: #e7e9ef;
    font-size: 16px;
    font-weight: 600;
    color: #29a8ff;
    margin: 10px;
    padding: 6px;
    cursor: pointer;
    
}

#historialtexto{
    width: 550px;
    height: 100%;
    font-size: 26px;
}

.calculadora{
    padding:9% 0 0 20%;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.contenedor{
    background: #17181a;
    padding: 26px;
    border-radius: 20px;
    box-shadow: 0px 80px 50px -30px rgba(41, 168, 255, 0.2);
}

input{
    width: 330px;
    padding: 25px;
    margin: 10px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 45px;
    text-align: right;
    color: #fff;
}

input::placeholder{
    color: #fff;
}

button{
    border: none;
    outline: none;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background: #303136;
    font-size: 21px;
    font-weight: 600;
    color: #29a8ff;
    margin: 10px;
    cursor: pointer;
}

.igual{
    width: 144px;
    color: #fff;
    background: #1991ff;
    font-weight: 700;
}
.otro-clr{
    background: #616161;
    color: a5a5a5;
    font-weight: 400;
}

.operador{
    background: #005db2;
    color: #fff;
}